obj
bin
Bin
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.5.0.ReSharper.user
*.5.1.ReSharper.user
*.6.0.ReSharper.user
*.suo
*.cache
*~
*.swp
*.swo
local_properties.rb
artifacts
*.orig
Coverage.Log
ClientBin
*.svn
*.sln.docstates
solution.sln.DotSettings.user