@using web.Models.ErrorLogs;
@model ErrorDashboardViewModel
@{
    ViewBag.Title = "ErrorLogDataDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
   
    .error_count_box 
    {
        display: inline-block;
         background-color:  #EEE;
        border-radius:  10px;
        -moz-border-radius:  10px;
        text-align:  center;   
        padding-top:  10px;
        padding-bottom:  10px;
        height:  50px;
        vertical-align:  middle;
        width:  250px;
        
    }

    p.prev_error_count_title, p.now_error_count_title
    {
       font-size:  20pt; 
    }

    p.prev_error_count_title 
    {
        color: #efad1c;     
    }
    
    p.now_error_count_title 
    {
        color:  #a5dbd8;
    }

    p.error_count 
    {
        color:  #ee264e;
        font-size:  18pt;   
    }
    
    .versus 
    {
        display:  inline-block;
        font-size:  20pt;
        color:  #b3ba5a;
        margin-left:  40px;
        margin-right:  40px;
    }
    
    #error_counts 
    {
       text-align:  center; 
       margin-bottom: 20px;
    }
    
</style>

    <h2>Error Counts</h2>
<div id="error_counts">

                    <div class="error_count_box">
                        <p class="prev_error_count_title">7 days ago</p>
                        <p class="error_count">@Model.error_counts.past_error_count errors</p>
                    </div>
                    <div class="versus">
                        vs.
                    </div>
                    <div  class="error_count_box">
                        <p class="now_error_count_title">Today</p>
                        <p class="error_count">@Model.error_counts.current_error_count errors</p>
                    </div>

                
               
</div>
<div id="top_errors">

    <h2> Top 5 Errors</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Error Count</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.error_logs)
            { 
                <tr>
                    <td>@x.error_count</td>
                    <td>@x.error</td>
                </tr>
            }
        </tbody>
    </table>
</div>
