<div class="row">
    <div class="span12">
        <a href="#ops1"><span class="label label-info">Ops 1</span></a>
        <a href="#ops2"><span class="label label-info">Ops 2</span></a>
        <a href="#ops3"><span class="label label-info">Ops 3</span></a>
    </div>
    <div class="span12">
        <a name="ops1"><h2>Ops 1</h2></a>
        <iframe width="100%" height="600px" scrolling="no" src="http://174.143.39.179/100100-Top20.html"></iframe> 
    </div>
    <div class="span12">
        <a name="ops2"><h2>Ops 2</h2></a>
        <iframe width="100%" height="600px" scrolling="no" src="http://174.143.39.179/200100-Top20.html"></iframe> 
    </div>
    <div class="span12">
        <a name="ops3"><h2>Ops 3</h2></a>
        <iframe width="100%" height="600px" scrolling="no" src="http://174.143.39.179/300100-Top20.html"></iframe> 
    </div>
</div>

