@model web.Models.WallboardViewModel

<div class="row">
    <div class="span12">
        <iframe width="100%" height="1024px" scrolling="no" src="@Model.wallboard_iframe_link"></iframe> 
    </div>
</div>