@model web.Models.OpsBuildStatusViewModel

<div class="row">
    <div class="span12">
        <iframe width="100%" height="1024px" scrolling="no" src="@Model.build_link"></iframe> 
    </div>
</div>
